PORT=
MONGO_URI=
DB_NAME=
USERS_COLLECTION_NAME=
EXAMS_COLLECTION_NAME=
QUESTIONS_COLLECTION_NAME=
JWT_TOKEN_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EXPRESS_SESSION_SECRET=
COOKIE_KEY=
FRONT_END_DOMAIN=
